/.vs
/*/bin/
/*/obj/
/EasyCmd/.vs/EasyCmd
/EasyCmd/.vs/ProjectEvaluation
/EasyCmd/EasyCmd.csproj.user
/EasyCmd/EasyCmd.sln
/EasyLog/.vs/EasyLog
/obj/x86/Debug
/EasyGui/EasyGui.csproj.user
/CryptoSoft/.vs
/EasySave.slnLaunch.user
/EasyRemote/.vs/EasyRemote
/EasyRemote/EasyRemote.csproj.user
